
/* Mobile & Tablet */
@media (max-width: 1023px) {
    
}



/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}



/* Mobile */
@media (max-width: 739px) {
    .music-card {
        max-width: 90%;
        margin: 0 5%;
        display: block;
        position: relative;
    }
    .playlist {
        display: none;
    }
    .playlist.list-open{
        position: fixed;
        display: block;
        max-width: 92%;
        margin: 0 4%;
        background-image: linear-gradient( 45deg,  rgb(200, 80, 192) 0%, rgb(255, 204, 112) 100% );
        animation: slideInBottom 1s;
    }
}
